<section class="row">
    <h1>Make a Post!</h1>

    <form class="new-post-form">
        <div>
            <label for="post-title">TITLE</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-body">YOUR POST</label>
            <textarea id="post-body" name="post-body"></textarea>
        </div>
        <button type="submit" class="btn">ADD Post</button>
    </form>
</section>


{{#if posts.length}}

<section>
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
    {{> dashboard-postinfo post}}
    {{/each}}
</section>
{{/if}}


<script src="/js/create-post.js"></script>