<article>
    <a href="/dashboard"></a>
    <h2>Edit Post</h2>
    <form class="edit-post-form">
        <div>
            <input name="post title" type="text" value="{{post.title}}"/>
        </div>
        <div>
            <textarea name="post-text">{{post.post_text}}</textarea>
        </div>
        <div>
            <button type="submit">Save Changes</button>
            <button type="button" class="delete-post-btn">Delere</button>
        </div>
    </form>
</article>

<sxript src="/js/edit-post.js"></sxript>
<script src="/js/delete-post.js"></script>