<div>
    <h2 class="signup">Sign Up</h2>
    <form class="form signup-form">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup"/>
        </div>
        <div>
            <label class="form-label" for="password-signup">Password</label>
            <input id="password-signup" type="password" class="form-input"/>
        </div>
        <div>
            <button type="submit" class="btn">Sign Up</button>
            <a class="login-link" href="/login">Already a User? Log In</a>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>